<div class="container col-4 offset-4 mt-5">

<%= simple_form_for(@publication) do |f| %>
  <%= f.input :content, label: "Contenu de votre publication" %>
  <%= f.submit "Modifier ma publication" %>
<% end %>

</div>