<h1>Publications#index</h1>
<p>Find me in app/views/publications/index.html.erb</p>

<ul>
  <% @publications.reverse.each do |publication| %>

 <div class="cards">
 	<div class="card-post">
    <li><%= link_to publication.title, publication_path(publication) %>
	    <% if policy(publication).edit? %>
	      <%= link_to edit_publication_path(publication) do %>
	        <i class="fas fa-edit"></i>
		  <% end %>
	  	<% end %>
	  	<% if policy(publication).destroy? %>
	      <%= link_to publication_path(publication), method: :delete do %>
	        <i class="far fa-trash-alt"></i>
	      <% end %>
	  	<% end %>
  	</li>
  </div>

 </div>

  <% end %>
</ul>

<% if policy(Publication).create? %>
  <%= link_to "Créer un post", new_publication_path %>
<% end %>