<div class="container my-5">
	<h1 class="mb-4">Les dernières plaintes</h1>
	<% @publications.reverse.each do |publication| %>
		<%= link_to publication_path(publication) do %>
			<div class="card-post">
				<div class="user-data">
					 <%= cl_image_tag current_user.profile_picture, class: "avatar-large" %>
					<div class="username"><%= publication.user.username %>
					</div>
				</div>
				<div class="description">
				<%= publication.content.truncate(250, separator: ' ') %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
