.card-clash-2 {    
    margin-bottom: 20px;
    background-color: white;
    color: black;
    a {
      color: rgba(0,0,0,0.8);
    }
    padding: 30px;
    border-radius: 40px;
    border: 1px solid rgba(212, 178, 255, 0.66);
    .username {
      padding-left: 15px;
      font-size: 23px;
      font-weight: light;
      align-items: center;
      align-self: center;
      color: rgba(0,0,0,0.8);
    }
}