<div class="container col-4 offset-4 mt-5">

<%= simple_form_for(@clash_request) do |f| %>
  <%= f.input :content, label: "Contenu de votre demande de clash" %>
  <%= f.submit "Modifier ma demande de clash" %>
<% end %>

</div>