<div class="container">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <div class="cards">
    <div class="card-clash">
      <div class="text-center">
        <div class="users-avatar">
          <div class="user1-avatar">
            <img class="avatar-clash" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
          </div>
          <div class="user2-avatar">
            <img class="avatar-clash" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
          </div>
        </div>
        <div class="users-username">
          <div class="username1">Karen</div>
          <div class="icone">⚡</div>
          <div class="username2">Karen</div>
        </div>
        <div class="tag">
          <div class="text">bruit</div>
        </div>
        <div class="description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>
  </div>


  <br>

  <div class="card-post">
    <div class="text-center mb-4">
      <div class="user-data">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
        <div class="username">Karen</div>
      </div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
      <div class="more-comments ">
        <p class="mb-0 coms">Voir les commentaires ></p>
      </div>
    </div>
  </div>

  <br>

  <div class="card-pb">
    <div class="text"> Un problème avec ton voisin ? </div>
    <div> <a class="btn btn-flat" href="#">Publier</a> </div>
  </div>

  <br>

  <div class="title">Les Clashs à la une</div>

  <br>

</div>

<a class="btn btn-ghost" href="#">Write a story</a> <a class="btn btn-flat" href="#">Publish now</a>

