<div class="container">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>


  <div class="card-clash">
    <div class="text-center mb-4">
        <div class="userclash">
            <div class="userinfo">
                <div class="user-data">
                    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
                    <div class="username">Karen</div>
                </div>
                <div class="description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
            <div class="d-flex userinfo">
              <div class="usermiddle">
                <i class="fas fa-bolt"></i>
              </div>
            </div>
            <div class="userinfo">
                <div class="user-data">
                    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
                    <div class="username">Karen</div>
                </div>
                <div class="description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
        </div>
        <div class="more-comments">
            <p class="mb-0 coms">Voir les commentaires ></p>
        </div>
    </div>
  </div>

  <br>

  <div class="card-post">
    <div class="text-center mb-4">
      <div class="user-data">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
        <div class="username">Karen</div>
      </div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
      <div class="more-comments">
        <p class="mb-0 coms">Voir les commentaires ></p>
      </div>
    </div>
</div>