.btn-ghost {
    color: #8731F5;
    border: 1px solid rgba(212, 178, 255, 0.66);
    padding: 8px 24px;
    border-radius: 40px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    color: #8731F5;
    border: 1px solid #8731f5;
    opacity: 1;
    text-decoration: none;
  }

  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 40px;
    background: #8731f5;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #7138ba;
    color: white;
  }

  .btn-clash {
    color: white;
    padding: 8px 24px;
    background: #8731f5;
    transition: background 0.3s ease;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 30px;
  }

  .btn-clash:hover {
    background: #7138ba;
    color: white;
  }

  .btn-outline-secondary {
    border-radius: 40px;
  }

  .btn-signup {
    border-radius: 40px;
    border: solid 1px rgba(212, 178, 255, 0.66);
    color: #8731f5;
    padding-top: 10px;
    padding-bottom: 10px;
  }
   .btn-signup:hover {
    color: #8731f5;
  }

  .btn-submit {
    border-radius: 40px;
    background-color: #8731f5;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .btn-submit:hover {
    color: white;
  }

  .btn-outline-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 8px 24px;
  }

  .btn-outline-danger p {
    text-position: center;
  }
