.text-area-container {
    position: relative;
    background-color: white;
    padding: 15px 30px;
    border-radius: 40px;
    border: 1px solid #8731f5;
    .text {
      color: #8731f5;
      font-weight: 500;
      font-size: 25px;
      font-family: 'Poppins', sans-serif;
    }
}

.post-input {
  width: 100% !important;
  height: 100%;
  border: none;
}

.text-area-button {
    position: absolute;
    top: 0;
    right: 0;
}

.text-area-wrapper {
    width: 100% !important;
    :focus {
        outline: none;
        box-shadow: none;
    }
}
