.fullvh {
    height: 75vh;
}
.bodypostshow{
    display: flex;
    .cardpostshow{
        flex: 0 0 60%;
        height: 75vh;
        align-self: center;
    }
    .cardpostcoms{
        flex: 0 0 40%;
        padding-left: 20px;
        margin-bottom: 12px;
        height: 75vh;
        display: flex;
        flex-direction: column;
        .commentcontainer {
            padding-bottom: 15px;
            overflow-y: scroll;
            /* background: black; */
            flex-grow: 1;
            .pitimsg {
                padding-top: 50%;
                font-size: 20px;
                font-style: oblique;
                text-align: center;
                color: lightgrey;
            }
        }
    }
}


.profile-description {
  padding-top: 120px;
  padding-left: 450px;
  position: fixed;
}

.profile-content {
  position: fixed;
  margin-top: 230px;
  padding: 0 0px;
  width: 100%;
  position: relative;
}
