.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 61px;
  box-shadow: 0 4px 2px -2px rgb(240,240,240);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  margin-right: 20px;
}
.title-website {
  font-size: 20px;
}

.user-profile-navbar {
	background: white;
	height: 200px;
	position: sticky;
	top: 0;
	z-index:2;
}

.user-profile-navbar .navbar-brand img {
  width: 30px;
  margin-right: 20px;
}

.user-profile-picture {
  padding-top: 125px;
}
